@charset "UTF-8";

/* 기본 HTML5 설정 리셋 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ul {
    list-style:none;
}

a {
    margin:0;
    padding:0;
    vertical-align:baseline;
    background:transparent;
	text-decoration: none;
	font-family: "Do hyeon", sans-serif;
}
a:visited{
	color: #3e3c3c;
}

/* 프로젝트 기본 CSS 설정 */
#wrapper{
	width: 100%;
	height: 100%;
}

/* header CSS */
#header{       
	position: fixed;
	width:100%;
	height:100px;
	z-index: 100;
	background-color: white;
}
#header .navbar{
	display: grid;
	grid-template-areas:
	". . login"
	"left left right";
	justify-content: space-between;
	padding: 20px 38px 38px 38px;
	font-size: 1.2rem;
}

.navbar .login-menu{
	grid-area: login;
}
.login-menu li{
	display: inline-block;
}

.navbar .left_area{
	grid-area: left;
	display: flex;
}
.category li{
	padding: 5px 0 10px;
	display: inline-block;
}
.category li a{
	padding: 21px 20px; 27px;
}
.category li a span{
	padding: 21px 0 5px;
}

.navbar .right_area{
	display: flex;
	padding: 10px 0 10px;
	grid-area: right;
	justify-content: end;
}
.right_area a{
	padding: 0 5px 0;
}
.right_area i{
	font-size: 20px;
	padding: 0 5px;
	cursor: pointer;
}
.right_area li{
	display: inline-block;
}

.underline{
	position: absolute;
	width: 0;
	background-color: skyblue;
	height: 4px;
	transition: 0.2s;
	border-radius: 1rem;
}

/* main CSS */
#main{
	margin: auto;
	width:80vw;
	min-height: 600px;
	padding-top: 100px;
	padding-bottom: 100px;
}

/* footer CSS */
#footer{
	width: 100%;
	height: 200px;     
	text-align: center;
	clear:both;
	background-color: lightgrey;
}
.footer_menu ul{
	display: flex;
}

/* side menu CSS */
#side-menu{
	background-color: #e9eef0;
	width: 100px;
	right: 15px;
	top: 50%;
	position: fixed;
	padding: 10px;
	border: 1px solid gray;
	border-radius: 1rem;
	cursor: pointer;
}
.side-menu{
	text-align: center;
}
.recentBtn{
	padding: 10px;
	border-radius: 1rem;
}
.cartBtn{
	padding: 10px;
	border-radius: 1rem;
}
.likeBtn{
	padding: 10px;
	border-radius: 1rem;
}
.topBtn{
	padding: 10px;
	border-radius: 1rem;
}
.recentBtn:hover, .topBtn:hover, .likeBtn:hover, .cartBtn:hover{
	background-color: #c7cbcd;
}
.side-menu i{
	font-size: 20pt;
}