@charset "UTF-8";

.outer{
	position: relative;
	overflow: hidden;
}
.container {
	width: 240vw;
	transition: transform 0.5s;
}
.inner {
	width: 80vw;
	float: left;
}
.inner img{
	width: 100%;
}
.buttons{
	display: flex;
	justify-content: center;
}
.left-btn{
	position: absolute;
	z-index: 10;
	top: 50%;
	cursor: pointer;
	width: 50px;
}
.right-btn{
	position: absolute;
	z-index: 10;
	top: 50%;
	right: 0px;
	cursor: pointer;
	width: 50px;
}