<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kg.seeot.mybatis.cart.CartMapper">
	<resultMap type="com.kg.seeot.cart.dto.CartDTO" id="cart">
		<id property="productNo" column="product_no"/>
		<id property="memberId" column="member_id"/>
		<result property="cartPrice" column="cart_price"/>
		<result property="productName" column="product_name"/>
		<result property="productPrice" column="product_price"/>
		<result property="productFile" column="product_file"/>
		<result property="orderStack" column="order_stack"/>
	</resultMap>
	
	<insert id="addCart_p">
		insert into cart(product_no,product_name,product_price,product_file) select product_no,product_name,product_price,product_file from product
		where product_no=(#{product_no})
	</insert>

</mapper>