<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kg.seeot.mybatis.board.BoardMapper">
	<resultMap type="com.kg.seeot.board.dto.BoardDTO" id="board">
		<id property="memberId" column="member_id" />
		<result property="memberName" column="member_name" />
		<result property="boardNo" column="board_no" />
		<result property="boardTitle" column="board_title" />
		<result property="boardContent" column="board_content" />
		<result property="boardDate" column="board_date" />
		<result property="boardQnAType" column="board_qnatype"/>
		<result property="boardStatus" column="board_status"/>
		<result property="boardHit" column="board_hit"/>
	</resultMap>
	
	<resultMap type="com.kg.seeot.board.dto.FileDTO" id="file">
		<result property="fileOriginName" column="file_origin_name"/>
		<result property="fileSaveName" column="file_save_name"/>
		<result property="boardNo" column="board_No"/>
	</resultMap>
	
	<resultMap type="com.kg.seeot.board.dto.ReplyDTO" id="reply">
		<result property="memberId" column="MEMBER_ID"/>
		<result property="replyContent" column="REPLY_CONTENT"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="boardNo" column="BOARD_NO"/>
		<result property="replyNo" column="REPLY_NO"/>
		<result property="replyDate" column="REPLY_DATE"/>
	</resultMap>

	<select id="boardList" resultMap="board">
		SELECT B.* from(
		SELECT rownum rn, A.* from(
		SELECT * from seeot_board
		order by board_no desc)A)B
		WHERE rn between #{startPage} and #{endPage}
	</select>
	
	<select id="boardCount" resultType="Integer">
		SELECT COUNT(*) FROM SEEOT_BOARD
	</select>

	<select id="getBoard" resultMap="board">
		SELECT * from seeot_board
		WHERE board_no=#{boardNo}
	</select>
	
	<select id="getBoardFile" resultMap="file">
		SELECT * from seeot_board_file
		WHERE board_no=#{boardNo}
	</select>

	<insert id="boardWrite">
	    INSERT into seeot_board(member_id, member_name, board_no, board_title, board_content, board_qnatype, board_status)
		VALUES(#{memberId}, #{memberName}, board_seq.nextval, #{boardTitle}, #{boardContent}, #{boardQnAType}, #{boardStatus})
		
		<selectKey keyProperty="boardNo" order="AFTER" resultType="int">
			SELECT board_seq.currval from dual
		</selectKey>
	</insert>
	
	<insert id="boardFileWrite" useGeneratedKeys="true">
	 	INSERT into seeot_board_file(file_origin_name, file_save_name, board_no)
		VALUES(#{fileOriginName}, #{fileSaveName}, #{boardNo})
	</insert>
	
	<update id="boardModify">
	    UPDATE seeot_board
	    SET	member_name = #{memberName},
	    	board_title = #{boardTitle},
	    	board_content = #{boardContent},
	    	board_qnatype = #{boardQnAType}
		WHERE board_no = #{boardNo}
	</update>
	
	<update id="boardFileModify" useGeneratedKeys="true">
	 	UPDATE seeot_board_file
	 	SET (file_origin_name, file_save_name, board_no)
		values(#{fileOriginName}, #{fileSaveName}, #{boardNo})
	</update>

	<delete id="deleteImage">
		DELETE seeot_board_file
		WHERE file_save_name = #{image}
	</delete>
	
	<delete id="delete">
		DELETE from seeot_board
		WHERE board_no = #{boardNo}
	</delete>
	
	<insert id="addReply">
		INSERT INTO seeot_reply(member_id, board_no, reply_content, member_name, reply_no, reply_date)
		values(#{memberId}, #{boardNo}, #{replyContent}, #{memberName}, reply_seq.nextval, sysdate )
	</insert>
	
	<select id="getReplyList" resultMap="reply">
		SELECT * FROM seeot_reply
		WHERE board_no = #{boardNo}
		ORDER BY reply_date ASC
	</select>

</mapper>

















